@import 'components/legacy';

@import 'components/event';
@import 'components/width';
@import 'components/button';
@import 'components/corners';
@import 'components/border';
@import 'components/link';
@import 'components/colors';
@import 'components/dropdown';
@import 'components/shadow';
@import 'components/calendar';
@import 'components/input';
@import 'components/icon';
@import 'components/page';
@import 'components/svg';
@import 'components/list';
@import 'components/hashtag-search';
@import 'components/admin';
@import 'components/circle';
@import 'components/comments';

.display-none { display: none !important; }

body {
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  background-color: hsla(0,0%,98%,1);
}

.body-scroll {
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
}

.nav {
  z-index: 400;
}

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-positions';
@import 'flex-object';
@import 'basscss-white-space';

@import 'components/muted';

.mr05 {
  margin-right: .25rem;
}

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}
